.sidenav {
    height: 810px; 
    width: 280px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #2B2C3A; 
    overflow-x: hidden; 
    padding-top: 20px;
}
.avatar{
    position: absolute;
width: 138px;
height: 37px;
left: 30px;
top: 19px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background: #2B2C3A;
    font-family: 'Jost', sans-serif;
  }
  
  ul { list-style-type: none; }
  
  a {
    color: #282c3b;
    text-decoration: none;
  }  
  
  .accordion {
    width: 100%;
    max-width: 360px;
    margin:  102px auto 20px;
    background: #2B2C3A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #2d2c41;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  
  .accordion li.open .link { color: #ffffff; }
  
  .accordion li.open i { color: #ffffff; }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
    
  .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
  }
  
  .submenu li { border-bottom: 1px solid #4b4a5e; }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: #4b4a5e;
    color: #FFF;
  }
  .switch{
    position: absolute;

    left: 160px;
    top: 757px;
  }
.h3{
  position: absolute;
height: 12px;
left: 20px;
top: 765px;
font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 11px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
}
    .switch-btn {
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0 auto;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; 
  }
  .switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 17px;
    background: #6F6EFF; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;

  }
  .switch-on {
    background: #6b6575;
  }
  .switch-on::after {
    left: 37px;
  }
  .nav{
    position: fixed; 
    left: 0; right: 0; 
    top: 0;
    padding: 10px;
  }
  .nav-list {
    display: flex;
    position: absolute;
    align-items: center;
width: 1160px;
height: 58px;
left: 280px;
top: 14px;
list-style: none;
 
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #FFFFFF
  }
  .slider {
    position: absolute;
width: 1050px;
height: 360px;
left: 335px;
top: 112px;

  }
  .slider2 {
    position: absolute;
    width: 1050px;
    height: 360px;
    left: 335px;
    top: 532px;
  }
  .slide-list {
       overflow: hidden;
   
    position: relative;
  }
  .slide-wrap {
       position: relative;
        width: 10000px;
        clear: right;
  }
  .slide-item {
       width: 280px;
        padding: 10px;
        float: left;
  }
  .slide-thumb {
       height: 294px;
       line-height: 200px;
       overflow: hidden;
  }
  .slide-thumb img {
  	width: 255px;
  height: 294px;
    }
  .slide-title a {
     color: #6b2525;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    line-height: 1.3;
    display: block;
    padding-top: 10px;
    text-shadow: 0 1px white;
  }
  .slide-title a i {
    font-size: 12px;
    color: #666;
  }
  .navy {
    position: absolute;
    top: 80px;
    width: 50px;
    height: 50px;
    color: #0074A3;
    text-align: center;
    line-height: 50px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
  }
    .prev-slide {
    left: 0px;
  }
  .next-slide {
    right: 0px;
  }
    .navy:hover {
    color: #073e61;
  }
    .navy:active {
    top: 82px;
    color: #ed0000;
  }
    .navy.disabled,
  .navy.disabled:hover,
  .navy.disabled:active {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: default;
  }
  .icon-left-open-big:before { content: '\e765'; } /* '?' */
  .icon-right-open-big:before { content: ''; } /* '?' */

.header {
  position: fixed;
  left: 0; right: 0; 
  top: 0; 
  padding: 10px;
  
}

.main{
  min-height: 1000px; 
    margin-top: 70px; 
    display: block; 
}
